[Service]
Type=oneshot
ExecStartPre=/bin/sh -c "printf 'public class NOP { public static void main(String[] args) { } }' > NOP.java"
ExecStartPre=/usr/bin/javac NOP.java
ExecStart=/usr/bin/java NOP
PermissionsStartOnly=yes
WorkingDirectory=%t/javad
RuntimeDirectory=javad

# debugging
#SystemCallFilter=getuid geteuid write
